[submodule "sources/poky"]
	path = sources/poky
	url = https://github.com/yoctoproject/poky.git
	branch = scarthgap
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "apps/sdv-vehicle-service"]
	path = apps/sdv-vehicle-service
	url = https://github.com/COVESA/vehicle_signal_specification.git
	branch = 6.X
