[submodule "sources/poky"]
	path = sources/poky
	url = https://github.com/yoctoproject/poky.git
	branch = scarthgap
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
